.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: fit-content;
    & a {
        display: block;
        width: fit-content;
        height: fit-content;
    }
}